.infoBox{
  cursor: grab;
  position:absolute;
  background-color: #d3d3d3;
  color:black;
  font-size: 12px;
  max-width: 300px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

.sortCanvas{

}

p{
}
